if is_amp
  - var titleStr = `${post.title} - ${config.title}`
  - var headPrefix = 'og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#'
else if is_post()
  - var titleStr = `${page.title} - ${config.title}`
  - var headPrefix = 'og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#'
else
  - var titleStr = config.title
  - var headPrefix = 'og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# blog: http://ogp.me/ns/blog#'
head(prefix=headPrefix)
  title= titleStr
  include _atoms/_metas
  include _atoms/_links
  include _atoms/_js
  if is_amp
    include _atoms/_amp-schema
    if cssTxt !== ""
      style(amp-custom)
        = cssTxt
  else
    != css('css/style.css')
