.paging
  = post
  if is_post()
    if page.prev || page.next
      ul.paging_items.is-permalink
        if page.prev
          li.paging_item: a.is-link.next(href=url_for(page.prev.path), rel='next')
            i.fa.fa-angle-double-left &nbsp;
            = page.prev.title
        if page.next
          li.paging_item: a.is-link(href=url_for(page.next.path), rel='previous')
            = page.next.title
            | &nbsp;
            i.fa.fa-angle-double-right
  else
    if page.prev !== 0 || page.next !== 0
      ul.paging_items
        - var pageNum = page.current <= 3 ? 1 : page.current - 3
        - var maxPageNum = page.current + 3 >= page.total ? page.total : page.current + 3
        if page.prev !== 0
          li.paging_item: a.is-link(href=url_for(page.prev_link))
            i.fa.fa-angle-double-left &nbsp;
            | 新しい記事
        while pageNum <= maxPageNum
          if pageNum === page.current
            li.paging_item.is-current
              = page.current
          else
            li.paging_item: a.is-link.is-jump(href=url_for(`page/${pageNum}/`))
              = pageNum
          - pageNum++
        if page.next !== 0
          li.paging_item: a.is-link.next(href=url_for(page.next_link), rel='next')
            | 古い記事&nbsp;
            i.fa.fa-angle-double-right
