footer.o-postFooter
  //- = t.b.__ContentSource
  //- .o-postFooter_postSource
  //-   a(href=`${t.SourceURL}`)
  //-     = t.lang_Source
  //-     | :
  //-     = t.b.__SourceLogo
  //-     amp-img(src=`${t.BlackLogoURL}` alt=`${t.SourceTitle}` width=`${t.LogoWidth}`  height=`${t.LogoHeight}` layout="fixed")
  //-     = t.b.SourceLogo__
  //-     = t.b.__NoSourceLogo
  //-     = t.SourceTitle
  //-     = t.b.NoSourceLogo__
  //-   = t.b.__RebloggedFrom
  //-   .postSource_reblog
  //-     .reblog_parentName
  //-       | リブログ元:
  //-       a(href=`${t.ReblogParentURL}`)
  //-         amp-img.favicon(src=`${t.ReblogParentPortraitURL_16}` alt='' width='16'  height='16' layout="fixed")
  //-           p(fallback) 画像
  //-         = t.ReblogParentName
  //-     .reblog_rootName
  //-       | オリジナル:
  //-       a(href=`${t.ReblogRootURL}`)
  //-         amp-img.favicon(src=`${t.ReblogParentPortraitURL_16}` alt='' width='16'  height='16' layout="fixed")
  //-           p(fallback) 画像
  //-         = t.ReblogRootName
  //-   = t.b.RebloggedFrom__
  //- = t.b.ContentSource__
  != partial('_molecules/_socialBtns')  
  //- = t.b.__PermalinkPage
  != partial('_molecules/_atoms/_relatedPosts')
  //- = t.b.PermalinkPage__
  //- div(class=`o-postFooter_notesSection ${t.b.__PermalinkPage}is-permalink${t.b.PermalinkPage__}` {block:PermalinkPage}id="postNote"{/block:PermalinkPage})
  //-   = t.b.__NoteCount
  //-   span.notesSection_count
  //-     a(href=`${t.Permalink}#postNote`)
  //-       | #{t.NoteCount} Notes
  //-   = t.b.__PostNotes
  //-   .notesSection_list {PostNotes}
  //-   = t.b.PostNotes__
  //-   = t.b.NoteCount__
